h2 Hello, what do you wanna do ?
span 1 - 
a(href="/users/list") List All Users
br 
span 2 - 
a(href="/users/add") Add a User
br 
span 3 - 
a(href="/msgs/list") List All Messages
br 
span 4 - 
a(href="/msgs/add") Add a Message
