doctype 5
html
 head
  title Testing..
  link(rel='stylesheet', href='/styles/styles.css')
  script(src='/scripts/jquery-1.7.2.min.js')
  script(src='/scripts/AjaxNav.js')
  script(src='/scripts/crud.js')

 body
  div#content
